services:
  caddy:
    image: caddy:2.8.4-alpine
    restart: unless-stopped
    # ports:
    # Used only in production
    #   - 80:80
    #   - 443:443
    # Used only in development
    network_mode: "host"
    volumes:
      - ./caddy:/etc/caddy
      - caddy-data:/data
  postgres:
    image: postgres:15.7-alpine3.20
    restart: unless-stopped
    environment:
      PG_USER: docker
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data/
      - ./setup.sql:/docker-entrypoint-initdb.d/setup.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U docker"]
      interval: 10s
      timeout: 5s
      retries: 10
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v2
    restart: unless-stopped
    env_file: frontend.example.env
    ports:
      - "1411:1411"
    volumes:
      - "./pocket-id:/app/data"
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
  backend:
    image: node:22.8-alpine
    # restart: unless-stopped
    depends_on:
      - pocket-id
    command: npm run dev
    env_file: frontend.example.env
    working_dir: /home/node/keystone
    volumes:
      - ./keystone:/home/node/keystone
#      - images-data:/home/node/backend-services/public/images
  frontend:
    image: node:22.8-alpine
    # restart: unless-stopped
    depends_on:
      - pocket-id
      - backend
    command: npm run next:dev
    env_file: frontend.example.env
    working_dir: /home/node/frontend-services
    volumes:
      - ./next:/home/node/next
volumes:
  db-data:
    labels:
      stack.description: "Database volume for all data needed to run stack"
  images-data:
    labels:
      stack.description: "Folder for storing images from Keystone's upload feature"
  caddy-data:
    labels:
      stack.description: "Live data needed for storing and restoring certificates"