services:
  caddy:
    image: caddy:2.8.4-alpine
    restart: unless-stopped
    # ports:
    # Used only in production
    #   - 80:80
    #   - 443:443
    # Used only in development
    network_mode: "host"
    volumes:
      - ./caddy:/etc/caddy
      - caddy-data:/data
  postgres:
    image: postgres:15.7-alpine3.20
    restart: unless-stopped
    environment:
      PG_USER: docker
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data/
      - ./postgres/setup.sql:/docker-entrypoint-initdb.d/setup.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U docker"]
      interval: 10s
      timeout: 5s
      retries: 10
  keycloak:
    image: keycloak/keycloak:25.0.2
    depends_on:
      - postgres
    restart: unless-stopped
    command: start-dev
    ports:
      - "8080:8080"
    environment:
      KC_HTTP_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
      KC_DB: postgres
      KC_DB_USERNAME: docker
      KC_DB_PASSWORD: docker
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: keycloak
      KEYCLOAK_ADMIN_PASSWORD: keycloak
    volumes:
      - ./keycloak/login/:/opt/keycloak/themes/ljn/login
      - ./keycloak/account/:/opt/keycloak/themes/ljn/account
#    INSTALL CURL IN CUSTOM IMAGE THAT I HAVE TO BUILD OUT
#    healthcheck:
#        test: [ "CMD", "curl", "-f", "http://localhost:9000/health/ready" ]
#        interval: 15s
#        timeout: 2s
#        retries: 15
  redstack-frontend-service:
    image: node:22.8-alpine
    # restart: unless-stopped
    depends_on:
      - keycloak
      - redstack-backend-service
    command: npm run next:dev
    working_dir: /home/node/frontend-services
    network_mode: "host"
    # Used only in local development for testing authentication
    volumes:
      - ../../frontend-services:/home/node/frontend-services
    environment:
      - DEPLOYMENT_FRAMEWORK=nextjs
      - NEXTJS_SECRET=O4bBIfdlB6Wx5Q3d9uaFirBxXs8rJI3d
  keystone-service:
    image: node:22.8-alpine
    # restart: unless-stopped
    depends_on:
      - keycloak
    command: npm run dev
    working_dir: /home/node/keystone-services
    # Used only in local development for testing authentication
    volumes:
      - ../../keystone-services:/home/node/keystone-services
#      - images-data:/home/node/backend-services/public/images
    environment:
      - DEPLOYMENT_FRAMEWORK=keystone
      - KEYSTONE_SECRET=JuT2zK3duy5JaWog24VG0irM1xEIKoMI
volumes:
  db-data:
    labels:
      redstack.description: "Database volume for all data needed to run stack"
  images-data:
    labels:
      redstack.description: "Folder for storing images from Keystone's upload feature"
  caddy-data:
    labels:
      redstack.description: "Live data needed for storing and restoring certificates"