services:
  caddy:
    image: caddy:2.8.4-alpine
    restart: unless-stopped
    # ports:
    # Used only in production
    #   - 80:80
    #   - 443:443
    # Used only in development
    network_mode: "host"
    volumes:
      - ./caddy:/etc/caddy
      - caddy-data:/data
  postgres:
    image: postgres:15.7-alpine3.20
    restart: unless-stopped
    environment:
      PG_USER: docker
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data/
      - ./setup.sql:/docker-entrypoint-initdb.d/setup.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U docker"]
      interval: 10s
      timeout: 5s
      retries: 10
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    restart: unless-stopped
    env_file: keycloak/.env
    command: start-dev
    depends_on:
      - postgres
    ports:
      - "8080:8080"
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    env_file: oauth2-proxy/.env
    depends_on:
      - keycloak
    command: --config /oauth2-proxy.cfg
    environment:
      - OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=true
    volumes:
      - ./oauth2-proxy/oauth2-proxy.cfg:/oauth2-proxy.cfg
  backend:
    image: node:22.8-alpine
    # restart: unless-stopped
    depends_on:
      - oauth2-proxy
    command: npm run dev
    env_file: ./backend/.env
    working_dir: /home/node/keystone
    volumes:
      - ./keystone:/home/node/keystone s
#      - images-data:/home/node/backend-services/public/images
  frontend:
    image: node:22.8-alpine
    # restart: unless-stopped
    depends_on:
      - oauth2-proxy
      - backend
    command: npm run next:dev
    env_file: ./frontend/.env
    working_dir: /home/node/frontend-services
    volumes:
      - ./next:/home/node/next
volumes:
  db-data:
    labels:
      stack.description: "Database volume for all data needed to run stack"
  images-data:
    labels:
      stack.description: "Folder for storing images from Keystone's upload feature"
  caddy-data:
    labels:
      stack.description: "Live data needed for storing and restoring certificates"