:9999 {
	header Content-Type text/html
    respond <<HTML
		<html>
			<head><title>Services not running...</title></head>
			<body>
				<style>p { text-align: center; margin-top: 40vh; font-size: 32px; }</style>
				<p>Something is down, please wait 30 seconds and then refresh...</p>
			</body>
		</html>
		HTML 503
}

# NextJS Frontend
localhost:3000 {
	handle {
		reverse_proxy :4000 :9999 {
			lb_policy first
			lb_try_duration 1s
			fail_duration 5s
			transport http {
				dial_timeout 500ms
			}
		}
	}
}

# Keystone Manager
localhost:3100 {
	handle {
		reverse_proxy :4100 :9999 {
			lb_policy first
			lb_try_duration 1s
			fail_duration 5s
			transport http {
				dial_timeout 500ms
			}
		}
	}
}