@font-face{
  font-family: 'Lato';
  src: url(../font/Lato.woff);
}

@font-face{
  font-family: 'Merriweather';
  src: url(../font/Merriweather.woff);
}

.pf-v5-c-form__label-text, 
.pf-v5-c-content,
.pf-v5-c-data-list__cell {
  font-family: 'Lato';
}
.pf-v5-c-title, 
h1.pf-v5-c-title {
  font-family: 'Merriweather';
}

#save-btn {
  background-color: red;
}

.pf-v5-c-page__main, .pf-v5-c-page__main-section {
  background-color: #f9fafb;
}

.pf-v5-c-page__header {
  background-color: #dc2626;
}

#page-sidebar {
  background-color: #991b1b;
  --pf-v5-global--active-color--400: red;
  --pf-v5-global--BackgroundColor--dark-200: transparent;
}

.pf-v5-c-nav__link {
  background-color: transparent;
}

.pf-v5-c-nav__link:hover {
  background-color: #ef4444;
  --pf-v5-c-nav__link--m-current--BackgroundColor: #dc2626;
}

.pf-v5-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-v5-c-nav__link{
  background-color: transparent;
}

.pf-v5-c-nav__item.pf-m-current:not(.pf-m-expanded) {
  background-color: transparent;
}

.pf-v5-c-menu-toggle {
  padding: 10px;
}

.pf-v5-c-page__header-tools {
  border-radius: 4px;
}

.pf-v5-c-brand {
  height: 43px;
}

.pf-v5-c-nav__link.pf-m-current {
  background-color: #dc2626;
}

.pf-v5-c-avatar {
  display: none;
}

.pf-v5-c-page__main-section._sticky_1cdve_5 {
  display: none;
}