@font-face{
    font-family: 'Lato';
    src: url(../font/Lato.woff);
}

@font-face{
    font-family: 'Merriweather';
    src: url(../font/Merriweather.woff);
}

#kc-page-title {
    font-family: 'Merriweather';
    text-align: center;
}

.pf-v5-c-login__container {
    grid-template-areas: "main";
    grid-template-columns: 34rem;
    width: inherit;
    margin-top: 9%;
}

.pf-v5-c-login__main {
    border-radius: 6px;
}

.pf-v5-c-login__main-footer-band {
    border: transparent;
}

@media only screen and (max-width: 600px) {
    .pf-v5-c-login__container {
      margin-top: 38%;
    }
}

@media only screen and (max-width: 800px) {
    .pf-v5-c-login__container {
      margin-top: 28%;
    }
}

.pf-v5-c-title, .pf-v5-c-login__container {
    font-family: 'Lato';
}

#kc-header-wrapper {
    padding: 62px 10px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

#kc-login, #kc-register {
    background: #eb4242;
    font-family: 'Lato';
    font-weight: bold;
    font-size: large;
    border-radius: 3px;
}

#kc-login:hover, #kc-register:hover {
    background: #dc2626;
    cursor: pointer;
}

.login-pf body {
    background: #dc2626;
    background-size: cover;
    height: 100%;
}

div#kc-header-wrapper {
    background-image: url(../img/ljn-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 300px;
    margin-top: 50px;
    color: transparent;
    cursor: default;
    text-align: center;
}

div.kc-logo-text span {
    display: none;
}

.kc-login-tooltip {
    position: relative;
    display: inline-block; 
}

.kc-login-tooltip .kc-tooltip-text{
    top:-3px;
    left:160%;
    background-color: black;
    visibility: hidden;
    color: #fff;

    min-width:130px;
    text-align: center;
    border-radius: 2px;
    box-shadow:0 1px 8px rgba(0,0,0,0.6);
    padding: 5px;

    position: absolute;
    opacity:0;
    transition:opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
    visibility: visible;
    opacity:0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

